In [6]:
import pandas as pd

In [13]:
train = pd.read_csv("~/volume/kaggle/petfinder/state_labels.csv")

In [14]:
train

    StateID        StateName
0     41336            Johor
1     41325            Kedah
2     41367         Kelantan
3     41401     Kuala Lumpur
4     41415           Labuan
5     41324           Melaka
6     41332  Negeri Sembilan
7     41335           Pahang
8     41330            Perak
9     41380           Perlis
10    41327     Pulau Pinang
11    41345            Sabah
12    41342          Sarawak
13    41326         Selangor
14    41361       Terengganu

In [5]:
!dir petfinder/train/train.csv

breed_labels.csv  test_images.zip     test.zip		  train_sentiment.zip
color_labels.csv  test_metadata.zip   train_images.zip	  train.zip
state_labels.csv  test_sentiment.zip  train_metadata.zip

In [4]:
!dir

petfinder  Untitled.ipynb